@charset "utf-8";
/* CSS Document */
p {
	font-size: 22px;
	line-height: 27px;
}

p label {
	width: 150px;
	display: inline-block;
}


#iframe {
	width: 500px;
	height: 300px;
	border: 1px solid #666;
}
